{%extends 'layout.html'%}
{%load bootstrap4 %}
{% load static %}
{%block content%}

<div class="container-fluid" style="padding-top:4em">

  <div class="row">
    {% for item in object_list %}
      <div class=col-md-3>
          <div class="card" style="margin-top: 20px;">
              <div class="card-title">
                  <h6><u><strong>{{item.title}}</strong></u></h6>
              </div>
              <a href="{{item.get_absolute_url}}">
                  <img class="img-fluid" src="{{item.image.cdn_url}}" alt=""></a>



              <div class="card-body">
                <a href="" class="grey-text">
                  <h5>{{item.get_category_display}}</h5>
                </a>
              </div>
              <div class="card-footer">
                  <a href="{{item.discount_price}}">Discount:${{item.discount_price}}</a>
                  <p>${{item.price}}</p>
              </div>
      


          </div>
      </div>
      {%endfor%}
      <br><br>

  </div>


  <div class='col-md-2'></div>
</div>
<!--Section: Products v.3-->


<!--Pagination-->

<nav class="d-flex justify-content-center wow fadeIn">
  <ul class="pagination pg-blue">
   
    <!--Arrow left-->
    <li class="page-item">
      <a class="page-link" href="?page={{page_obj.next_previous_number}}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
   
    <li class="page-item active">
      <a class="page-link" href="?page={{page_obj.number}} ">{{page_obj.number}}
        <span class="sr-only"></span>
      </a>
    </li>

  
    <li class="page-item">
      <a class="page-link" href="?page={{page_obj.next_page_number}}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>

  </ul>
</nav>

<!--Pagination-->



{%endblock content%}