{% extends 'layout.html' %}
{% block content%}
<style>
  .btn {

    border: none;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    border-radius: 12px;
    font-weight: 900;

  }
</style>
<!--Carousel Wrapper-->
<div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
  <!--Indicators-->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-2" data-slide-to="1"></li>
    <li data-target="#carousel-example-2" data-slide-to="2"></li>
  </ol>
  <!--/.Indicators-->
  <!--Slides-->
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <div class="view">
        <img class="d-block w-100"
          src="https://images.pexels.com/photos/705255/pexels-photo-705255.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
          alt="First slide">
        <div class="mask rgba-black-light"></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive"><a href="{% url 'mysalon:appointment'%}" class="btn btn-warning">Book Appointment</a>
        </h3>

      </div>
    </div>
    <div class="carousel-item">
      <!--Mask color-->
      <div class="view">
        <img class="d-block w-100"
          src="https://images.pexels.com/photos/853427/pexels-photo-853427.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
          alt="Second slide">
        <div class="mask rgba-black-strong"></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive"><a href="{% url 'mysalon:appointment'%}" class="btn btn-warning">Book Appointment</a>
        </h3>
      </div>
    </div>
    <div class="carousel-item">
      <!--Mask color-->
      <div class="view">
        <img class="d-block w-100"
          src="https://images.pexels.com/photos/705255/pexels-photo-705255.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
          alt="Third slide">
        <div class="mask rgba-black-slight"></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive"><a href="{% url 'mysalon:appointment'%}" class="btn btn-warning">Book Appointment</a>
        </h3>
      </div>
    </div>
  </div>


  <section class="weoffer" style="padding-top: 8em;">
    <h2>Our Services</h2>
    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">For all your Hair needs</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

          </div>
          <a href="#"><img src="https://www.shedul.com/images/Software-Hair-Salons-955d22eb.jpg" alt="salon"></a>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Coiffure and spa</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          </div>
          <a href="#"><img
              src="https://images.pexels.com/photos/3212179/pexels-photo-3212179.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
              alt="salon" class='img-fluid'></a>

        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Coiffure and spa</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          </div>
          <a href="#"><img
              src="https://images.pexels.com/photos/161737/pedicure-massage-therapist-spa-161737.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
              alt="salon" class='img-fluid'></a>

        </div>
      </div>
    </div>

    <div class="row" style="padding-top: 4em;">
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">For all your Hair needs</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

          </div>
          <a href="#"><img src="https://images.pexels.com/photos/374071/pexels-photo-374071.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="salon"></a>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Coiffure and spa</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          </div>
          <a href="#"><img
              src="https://images.pexels.com/photos/897262/pexels-photo-897262.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
              alt="salon" class='img-fluid'></a>

        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Coiffure and spa</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          </div>
          <a href="#"><img
              src="https://images.pexels.com/photos/161737/pedicure-massage-therapist-spa-161737.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
              alt="salon" class='img-fluid'></a>

        </div>
      </div>
    </div>


    <div class="row" style="padding-top: 4em;">
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">For all your Hair needs</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

          </div>
          <a href="#"><img src="https://www.shedul.com/images/Software-Hair-Salons-955d22eb.jpg" alt="salon"></a>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Coiffure and spa</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          </div>
          <a href="#"><img
              src="https://images.pexels.com/photos/897262/pexels-photo-897262.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
              alt="salon" class='img-fluid'></a>

        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Coiffure and spa</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          </div>
          <a href="#"><img
              src="https://images.pexels.com/photos/161737/pedicure-massage-therapist-spa-161737.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
              alt="salon" class='img-fluid'></a>

        </div>
      </div>
    </div>
  </section>
  <section class="posts">
    <div class="container-fluid">

      <div class="row">
        {% for post in post %}
        <div class=col-md-4>
          <div class="card" style="margin-bottom: 5em;width:350px;">
            <div class="card-title">
              <h3>{{post.name}}</h3>
            </div>
            <div class="card-body">
              <a href="">
                <img class="img-fluid" src="{{post.pic.cdn_url}}" alt="" style="width:300px"></a>
            </div>
            <div class="card-footer">
              <a href="">{{post.price}}</a>
              <p>posted {{post.pub_date|timesince}} ago</p>
            </div>
            <div class="section">
              <a href="/comment/{{post.id}}"><button class="btn btn-info" type="button"
                  name="button">Comment</button></a>
            </div>


          </div>
        </div>
        {%endfor%}
        <br><br>

      </div>


      <div class='col-md-2'></div>
    </div>
</div>
</section>


<section class='section-gutter-top-large section-gutter-bottom-large' style="padding-top:5em">
  <div class='wrapper'>

    <header class='section-header text-center'>
      <h2 class='section-header__title'> Features</h2>
      <p class='section-header__subtitle'>All the great tools you need to run your Salon, Spa or Wellness
        business!</p>
    </header>
    <div class="row">
      <div class="col-md-5">
        <ul class='features-list'>
          <li class='features-list__item'>
            <div class='features-list__image'>
              <img src="https://www.shedul.com/images/1-appointments.svg"
                alt="Best Appointment scheduling Software App" />
            </div>
            <div class='features-list__description'>
              <h5 class='features-list__header'>
                Schedule Appointments
              </h5>
              <p class='features-list__content'>
                Shedul is a clean, simple tool with powerful calendar scheduling features that can handle
                all your salon appointment bookings. Features include online booking, pos with payments and
                mobile apps.
              </p>
            </div>
          </li>
          <li class='features-list__item'>
            <div class='features-list__image'>
              <img src="https://www.shedul.com/images/4-dashboard.svg" alt="Salon Scheduling appointment dashboard" />
            </div>
            <div class='features-list__description'>
              <h5 class='features-list__header'>
                Activity Dashboard
              </h5>
              <p class='features-list__content'>
                Keep track of daily appointment scheduling activities and never miss a beat. The free
                dashboard displays up to date appointment bookings, online bookings, appointment
                cancelations and client notifications.
              </p>
            </div>
          </li>

      </div>
      <div class="col-md-1"></div>
      <div class="col-md-5">

        <li class='features-list__item clearfix'>
          <div class='img-fluid ml-5'>
            <img src="https://www.shedul.com/images/5-bookings.svg" alt="Salons and Spa">
          </div>
          <div class='features-list__description'>
            <h5 class='features-list__header'>
              Online Bookings
            </h5><br>
            <p class='features-list__content'>
              Supercharge your appointment bookings by allowing customers to book appointments online
              through your own website, Facebook or online booking apps. Allow clients to book, cancel or
              reschedule their own appointment bookings through the app.
            </p>
          </div>
        </li>
        <li class='features-list__item'>
          <div class='features-list__image'>
            <img src="https://www.shedul.com/images/6-sales.svg" alt="Point of Sales software for Salons and Spas" />
          </div>
          <div class='features-list__description'>
            <h5 class='features-list__header'>
              Sales & Products
            </h5>
            <p class='features-list__content'>
              Shedul has point-of-sale built-in, takes care of your salon and Spa pos sales transactions,
              invoicing, receipts, taxes and retail product management. Shedul POS is advanced and fully
              integrated with salon scheduling app.
            </p>
          </div>
        </li>
        </ul>
      </div>
      <div class="col-md-1"></div>
      <div class='clearfix'></div>
    </div>
  </div>
</section>


{% endblock content%}