{%extends 'layout.html'%}
{%block content%}
<style>
.btn {

    border: none;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 7px 4px;
    border-radius: 12px;
    font-weight: 900;

  }
</style>
<div class="container" >
    <div class="row" style="padding-top: 10em;">
        <div class="col-md-6">

           <button> {{form.render}}</button>
        </div>
        <div class="col-md-6">

            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQCEZLaC0folgbl6yDs9I1f73JMgTRGbSZ2bu6ebDqbFpitwfMq&s" alt="paypal">
        </div>
    </div>
</div>

<form id="id="cardPaymentForm" action="https://test-pay.jengahq.io/cardPay" method="POST" ">
    <input type="hidden" id="token" name="token">
    <input type="hidden" id="outletCode" name="outletCode">
    <input type="hidden" id="merchantCode" name="merchantCode">
    <input type="hidden" id="amount" name="amount">
    <input type="hidden" id="orderReference" name="orderReference">
    <input type="hidden" id="billReference" name="billReference">
    <input type="hidden" id="productType" name="productType">
    <input type="hidden" id="productDescription" name="productDescription">
    <input type="hidden" id="serviceDate" name="serviceDate">
    <input type="hidden" id="cardFirstName" name="cardFirstName">
    <input type="hidden" id="cardLastName" name="cardLastName">
    <input type="hidden" id="cardNumber" name="cardNumber">
    <input type="hidden" id="cardSecurity" name="cardSecurity">
    <input type="hidden" id="cardExpiryYear" name="cardExpiryYear" >
    <input type="hidden" id="cardExpiryMonth" name="cardExpiryMonth">
    <input type="hidden" id="customerFirstName" name="customerFirstName">
    <input type="hidden" id="customerLastName" name="customerLastName">
    <input type="hidden" id="country" name="country">
    <input type="hidden" id="mobileNumber" name="mobileNumber">
    <input type="hidden" id="emailAddress" name="emailAddress">
    <input type="hidden" id="postalcodeZip" name="postalcodeZip">
    <input type="hidden" id="address" name="address">
    <input type="hidden" id="city" name="city">
    <input type="hidden" id="ipAddress" name="ipAddress">
    <input type="hidden" id="callbackUrl" name="callbackUrl">
</form>
{%endblock content%}