{%extends 'layout.html'%}
{%load bootstrap4%}
{%block content%}
<div class="container">

    <div class="row">
        {% for post in post %}
        <div class=col-md-4>
            <div class="card" style="margin-bottom: 5em;">
                <div class="card-title">
                    <h3>{{post.name}}</h3>
                </div>
                <a href="/comment/{{post.project_id}}">
                    <img class="img-fluid" src="{{post.pic.cdn_url}}" alt=""></a>

                <div class="card-footer">
                    <a href="">{{post.price}}</a>
                    <p>posted {{post.pub_date|timesince}} ago</p>
                </div>
                <div class="section">
                    <a href="/review/{{post.id}}"><button class="btn btn-info" type="button" name="button">Write a
                            Review</button></a>
                </div>


            </div>
        </div>
        {%endfor%}
        <br><br>

    </div>


    <div class='col-md-2'></div>
</div>
</div>
{%endblock content%}